html {
    font-size: 62.5%;
}

body {
    font-family: 'Oxygen', sans-serif; // 300 400 700 Font weights available
}

h1 { font-size: 6rem;}
h2 { font-size: 5rem;}
h3 { font-size: 4em;}
h4 { font-size: 3rem;}
h5 { font-size: 2rem;}
h6 { font-size: 1rem;}

a, a:hover {
    text-decoration: none;
    color: currentColor;
}