@import "abstracts/variables";

@import "base/base";
@import "base/typography";

// Header

.header {
    background: linear-gradient(#eccbbe, #fff);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 15rem;

    &__logo {
        width: 25rem;
        height: auto;

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &__search {
        &-bar {
            display: flex;
            flex: 1;
            margin: 0 8rem;
        }

        &-input {
            height: 3.5rem;
            border-radius: 100px;
            padding: 0 1.75rem;
            border: none;
            width: 100%;
            transition: all .2s;
            
            &:focus, &:active {
                outline: none;
                box-shadow: 0rem 0.5rem 5rem rgba(0, 0, 0, 0.2);
            }
        }

        &-btn {
            margin-left: -3.5rem;
            border: none;
            border-radius: 50%;
            width: 3.5rem;
            outline: none;
            background: #f2f2f2;

            & .fa {
                font-size: 1.6rem;
                color: #4d4d4d;
            }
        }
    }    

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 4rem;
            height: 4rem;
            fill: #fa9468da;

            &:not(:last-of-type) {
                margin-right: 1.5rem;
            }
            
        }

        &__cart {
    
        }
    
        &__account {
    
        }
    }

}

