.categories {
   background-color: #fa9468da;
   z-index: 99;

   ul {
      display: flex;
      list-style: none;
      justify-content: center;
      margin: 0;
      position: relative;
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover .fa{
         transform: translateY(5rem);
         opacity: 0;
      }

      &:hover ul{
         display: flex;
         transform: translateY(2.15rem);
      }

      & a {
         text-decoration-line: none;
         font-size: 1.5rem;
         font-weight: 500;
         color: #fff;
         padding: 1rem;
      }
      
      .fa {
         color: #fff;
         font-size: 1rem;
         transition: all .2s;
      }


      ul {
         position: absolute;
         width: 80vw;
         left: 10%;
         top: 50%;
         flex-direction: column;
         background-color: transparent;
         display: none;


         .categories-links {
            background-color: #fff;  
            padding: 1rem 2rem;

            li {
               margin: 5px 0;
            }
            
            &:nth-child(even) {
               background-color: #f9f9f9;  
            }

            &__heading {
               font-weight: 700;
               color: black;
               font-size: 1.2rem;
               display: inline-block;
               margin: .5rem 0;
               padding-bottom: 0;
               padding-top: 0;
            }

            &__link {
               font-size: 1.2rem;
               font-weight: 300;
               color: #666;
               width: 100%;
            }
         }
      }
   }
}