.deals {
    &__content {
        display: flex;
        flex-direction: column;
        padding: 8rem 0;
        background-color: #e9e9e9;
        padding: 5rem;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        
    }

    &__button {

    }

    &__body {   // Flex Container
        width: max-content;
        padding: 0 5rem;
    }

    &__card {  
        width: 23rem;
        height: min-content;
        display: inline-block; 
        margin: 1.5rem .5rem;

        &-image {
            width: 100%;
            height: 16rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-heading {

        }

        &-offer {

        }

        &-category {

        }
    }
}