
// Header

.header {
    background: linear-gradient(to top, #eccbbe, #fff);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 15rem;

    &__logo {
        width: 20rem;
        height: auto;

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &__search {
        &-bar {
            display: flex;
            flex: 1;
            margin: 0 8rem;
        }

        &-input {
            height: 3.5rem;
            border-radius: 100px;
            padding: 0 1.75rem;
            border: none;
            width: 100%;
            transition: all .2s;
            
            &:focus, &:active {
                outline: none;
                box-shadow: 0rem 0.5rem 5rem rgba(0, 0, 0, 0.2);
            }
        }

        &-btn {
            margin-left: -3.5rem;
            border: none;
            border-radius: 50%;
            width: 3.5rem;
            outline: none;
            background: #fa9468da;

            & .fa {
                font-size: 1.6rem;
                color: #fff;
            }
        }
    }    

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;

        // Direct Children of header__links except last of type.
        & > *:not(:last-of-type) {
            margin-right: 2rem;
        }

        svg {
            width: 3.5rem;
            height: 3.5rem;
            fill: #4d4d4d;
        }

        &-img {
            position: relative;
        }
    }


    &__notification {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 0;
        left: 80%;
        transform: translateY(-5px);
        padding-top: .15rem;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        width: 1.4em;
        height: 1.4em;
        background-color:#fa9468;
        border-radius: 50%;

        &--account {
            left: 60%;
        }
    }
}
