*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Oxygen', sans-serif; }

.header {
  background: linear-gradient(to top, #eccbbe, #fff);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 15rem; }
  .header__logo {
    width: 20rem;
    height: auto; }
    .header__logo-img {
      width: 100%;
      height: 100%; }
  .header__search-bar {
    display: flex;
    flex: 1;
    margin: 0 8rem;
    justify-content: center; }
  .header__search-input {
    height: 3.5rem;
    border-radius: 100px;
    padding: 0 1.75rem;
    border: none;
    width: 95%;
    transition: all .2s; }
    .header__search-input:focus, .header__search-input:active {
      outline: none;
      box-shadow: 0rem 0.5rem 5rem rgba(0, 0, 0, 0.2);
      width: 100%; }
  .header__search-btn {
    margin-left: -3.5rem;
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    outline: none;
    background: #fa9468da; }
    .header__search-btn .fa {
      font-size: 1.6rem;
      color: #fff; }
  .header__links {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__links > *:not(:last-of-type) {
      margin-right: 2.8rem; }
    .header__links svg {
      width: 3.5rem;
      height: 3.5rem;
      fill: #4d4d4d; }
    .header__links-img {
      position: relative; }
  .header__notification {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateY(-5px);
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    width: 1.4em;
    height: 1.4em;
    background-color: #fa9468;
    border-radius: 50%; }
    .header__notification--account {
      left: 60%; }

.categories {
  background-color: #fa9468da;
  z-index: 99; }
  .categories ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    position: relative; }
  .categories__link {
    display: flex;
    justify-content: center;
    align-items: center; }
    .categories__link:hover .fa {
      transform: translateY(5rem);
      opacity: 0; }
    .categories__link:hover ul {
      display: flex;
      transform: translateY(4.15rem); }
    .categories__link a {
      text-decoration-line: none;
      font-size: 1.5rem;
      font-weight: 500;
      color: #fff;
      padding: 1rem; }
    .categories__link .fa {
      color: #fff;
      font-size: 1rem;
      transition: all .2s; }
    .categories__link ul {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      flex-direction: column;
      background-color: transparent;
      display: none; }
      .categories__link ul .categories-links {
        background-color: #fff;
        padding: 1rem 3rem; }
        .categories__link ul .categories-links li {
          margin: 5px 0; }
        .categories__link ul .categories-links:nth-child(even) {
          background-color: #f9f9f9; }
        .categories__link ul .categories-links__heading {
          font-weight: 700;
          color: black;
          font-size: 1.2rem;
          display: inline-block;
          margin: .5rem 0;
          padding-bottom: 0; }
        .categories__link ul .categories-links__link {
          font-size: 1.2rem;
          font-weight: 300;
          color: #666; }
