.container-center {
  max-width: 140rem;
  margin: 0 auto; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Oxygen', sans-serif; }

.header {
  background: linear-gradient(to top, #eccbbe, #fff);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 15rem; }
  .header__logo {
    width: 20rem;
    height: auto; }
    .header__logo-img {
      width: 100%;
      height: 100%; }
  .header__search-bar {
    display: flex;
    flex: 1;
    margin: 0 8rem;
    justify-content: center; }
  .header__search-input {
    height: 3.5rem;
    border-radius: 100px;
    padding: 0 1.75rem;
    border: none;
    width: 95%;
    transition: all .2s;
    font-size: 1.5rem;
    padding-right: 4rem; }
    .header__search-input:focus, .header__search-input:active {
      outline: none;
      box-shadow: 0rem 0.5rem 5rem rgba(0, 0, 0, 0.2);
      width: 100%; }
  .header__search-btn {
    margin-left: -3.5rem;
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    outline: none;
    background: #fa9468da; }
    .header__search-btn .fa {
      font-size: 1.6rem;
      color: #fff; }
  .header__links {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__links > *:not(:last-of-type) {
      margin-right: 2.8rem; }
    .header__links svg {
      width: 3.5rem;
      height: 3.5rem;
      fill: #4d4d4d; }
    .header__links-img {
      position: relative; }
  .header__notification {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateY(-5px);
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    width: 1.4em;
    height: 1.4em;
    background-color: #fa9468;
    border-radius: 50%; }
    .header__notification--account {
      left: 60%; }

.categories {
  background-color: #fa9468da;
  z-index: 99; }
  .categories ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    position: relative; }
  .categories__link {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; }
    .categories__link:hover .fa {
      transform: translateY(5rem);
      opacity: 0; }
    .categories__link:hover ul {
      display: flex;
      transform: translateY(2.15rem); }
    .categories__link a {
      text-decoration-line: none;
      font-size: 1.5rem;
      font-weight: 500;
      color: #fff;
      padding: 1rem; }
    .categories__link .fa {
      color: #fff;
      font-size: 1rem;
      transition: all .2s; }
    .categories__link ul {
      position: absolute;
      width: 80vw;
      left: 10%;
      top: 50%;
      flex-direction: column;
      background-color: transparent;
      display: none; }
      .categories__link ul .categories-links {
        background-color: #fff;
        padding: 1rem 2rem; }
        .categories__link ul .categories-links li {
          margin: 5px 0; }
        .categories__link ul .categories-links:nth-child(even) {
          background-color: #f9f9f9; }
        .categories__link ul .categories-links__heading {
          font-weight: 700;
          color: black;
          font-size: 1.2rem;
          display: inline-block;
          margin: .5rem 0;
          padding-bottom: 0;
          padding-top: 0; }
        .categories__link ul .categories-links__link {
          font-size: 1.2rem;
          font-weight: 300;
          color: #666;
          width: 100%; }

.slider {
  position: relative;
  height: calc(90vh - calc(73.95px + 42px));
  width: 100vw;
  background: #777;
  overflow: hidden; }
  .slider__wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    top: 0%;
    left: 0;
    right: auto;
    overflow: hidden;
    transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform-origin: 0% 50%;
    transition-delay: 450ms;
    opacity: 0; }
    .slider__wrap--hacked {
      opacity: 1; }
  .slider__back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: none;
    transition: filter 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .slider__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    background-size: auto 133.3333%;
    background-position: center;
    background-repeat: none;
    transform: scale(0.75);
    transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 450ms step-end;
    opacity: 0;
    box-shadow: 0 3vh 3vh rgba(0, 0, 0, 0);
    padding: 15vh;
    box-sizing: border-box; }
  .slider__content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center; }
    .slider__content .fa {
      font-size: 6rem; }
  .slider__slide {
    position: absolute;
    left: 0;
    height: calc(90vh - calc(73.95px + 42px));
    width: 100vw;
    transition: transform 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 600ms;
    pointer-events: none;
    z-index: 0; }
    .slider__slide--active {
      transform: translatex(0%);
      z-index: 2; }
      .slider__slide--active .slider__wrap {
        transform: translateX(0);
        transform-origin: 100% 50%;
        opacity: 1;
        animation: none; }
      .slider__slide--active .slider__back {
        filter: blur(1.5vh);
        transition-delay: 900ms !important; }
      .slider__slide--active .slider__inner {
        transform: scale(1);
        box-shadow: 0 1vh 6vh rgba(0, 0, 0, 0.2);
        pointer-events: auto;
        opacity: 1;
        transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 1ms step-end;
        transition-delay: 900ms; }
      .slider__slide--active .slider__content {
        opacity: 1;
        transition-delay: 1350ms; }
    .slider__slide:not(.slider__slide--active) .slider__wrap {
      animation-name: hack;
      animation-duration: 900ms;
      animation-delay: 450ms;
      animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }

@keyframes hack {
  0% {
    transform: translateX(0);
    opacity: 1; }
  50% {
    transform: translateX(-100vw);
    opacity: 1; }
  51% {
    transform: translateX(-100vw);
    opacity: 0; }
  52% {
    transform: translateX(100vw);
    opacity: 0; }
  100% {
    transform: translateX(100vw);
    opacity: 1; } }
    .slider__slide:nth-child(1) .slider__back, .slider__slide:nth-child(1) .slider__inner {
      background-image: url(../images/product-1.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
    .slider__slide:nth-child(2) .slider__back, .slider__slide:nth-child(2) .slider__inner {
      background-image: url(../images/product-2.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
    .slider__slide:nth-child(3) .slider__back, .slider__slide:nth-child(3) .slider__inner {
      background-image: url(https://unsplash.it/1600/800/?image=927);
      background-size: cover;
      background-repeat: no-repeat; }
    .slider__slide:nth-child(4) .slider__back, .slider__slide:nth-child(4) .slider__inner {
      background-image: url("../images/image-4.jpg");
      background-size: cover;
      background-repeat: no-repeat; }

.sig {
  position: fixed;
  bottom: 8px;
  right: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
  z-index: 3; }

.deals__content {
  display: flex; }

.deals__heading {
  font-size: 30rem; }

.deals__body {
  display: flex; }

.deals__card {
  flex-basis: 20%; }
  .deals__card-img img {
    width: 100%;
    height: 100%; }
